.video1 {
    border-radius: 10px;
    border: #00c8f8 solid 2px;
    display: inline-block;
}

.video2 {
    border-radius: 10px;
    border: #00c8f8 solid 2px;
    display: inline-block;
}

.video3 {
    border-radius: 10px;
    border: #00c8f8 solid 2px;
    display: inline-block;
}
