.header_img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.header--grid {
    background-color: #00c8f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;

}

.header--grid__column1 {
    text-align: left;
    align-items: end;
}

.header--grid__column2 {
    text-align: right;
}

.navbar-nav {
    flex-direction: column;
    align-items: flex-end;
}

.navbar-nav .nav-link {
    text-align: right;

    width: 100%;
    font-family: arial, sans-serif;

    font-size: 1.1rem;

    font-weight: bold;
    color: #fff;
}
