@media (min-width: 768px) {

    

    .servicios--grid__section {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .section--empresa h1 {
        font-size: 2.25rem;
       
    }
    .section--opiniones__grid{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;

    }

    .section--presupuesto {
        max-width: 75vw;
        background-color: #fff;
        border-radius: 12px;
        padding: 2rem;
        box-shadow: 0 4px 16px #00c6f827;
    }

    form {
        max-width: 800px;
        padding: 2rem 3rem;
    }

    .section--opiniones__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .descripcion {
        font-size: 1rem;
        padding: 0 1rem;
      }
    
      h1 {
        font-size: 2rem;
      }
    
      .lead {
        font-size: 1.1rem;
      }
    
      .footer-grid {
        grid-template-columns: auto 1fr;
        text-align: left;
        gap: 2rem;
      }
    
      .footer-copy {
        grid-column: span 2;
        text-align: center;
        margin-top: 1rem;
      }
}

@media (min-width: 1280px){

    .servicios--grid__section {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 20px;
    }


}

