.servicios--grid__section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* espacio entre filas y columnas */
    padding: 20px;
}

.servicios--grid__column1 {
    position: relative;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    
}

.column1__button{
    text-align: center;
}



.servicios--grid__column1 .grid--section__column1__content {
    position: relative;
    z-index: 1;
    padding: 1rem;
    color: #000;
}

.servicios--grid__column1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servicio_1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}


.servicios--grid__column2 {
    position: relative;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.servicios--grid__column2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servicio_2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

.servicios--grid__column2 .grid--section__column2__content {
    position: relative;
    z-index: 1;
    padding: 1rem;
    color: #000;
}

.servicios--grid__column3 {
    position: relative;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.servicios--grid__column3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servicio_3.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

.servicios--grid__column3 .grid--section__column3__content {
    position: relative;
    z-index: 1;
    padding: 1rem;
    color: #000;
}

.servicios--grid__column4 {
    position: relative;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.servicios--grid__column4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servicio_4.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

.servicios--grid__column4 .grid--section__column4__content {
    position: relative;
    z-index: 1;
    padding: 1rem;
    color: #000;
}
