@import 'variables';
@import 'mixins';

.servicios--grid__section {
  @include grid-columns((300px, 1fr));
  padding: $padding-seccion;
}

%servicio-column{
  
  position: relative;
  border-style: solid;
  @include border-radius($radio-servicio);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
  }

}


.servicios--grid__column1,
.servicios--grid__column2,
.servicios--grid__column3,
.servicios--grid__column4 {
  @extend %servicio-column;
}

.servicios--grid__column1::before {
  background-image: url(../images/servicio_1.jpg);
}

.servicios--grid__column2::before {
  background-image: url(../images/servicio_2.jpg);
}

.servicios--grid__column3::before {
  background-image: url(../images/servicio_3.jpg);
}

.servicios--grid__column4::before {
  background-image: url(../images/servicio_4.jpg);
}


%servicio-column__content {
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: $color-texto-principal;
}
.grid--section__column1__content,
.grid--section__column2__content,
.grid--section__column3__content,
.grid--section__column4__content {
  @extend %servicio-column__content;
}

.column1__button {
  text-align: center;
}
