@import 'variables';
@import 'mixins';

h3 {
  text-align: center;
  margin-top: $padding-seccion;
  margin-bottom: 1rem;
  color: $color-primario;
}

form {
  background-color: $color-texto-blanco;
  color: $color-primario;
  padding: 1.5rem;
  @include border-radius($radio-caja);
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  @include box-shadow($sombra-media);

  input,
  select,
  textarea {
    @include input-style;
    border: 1px solid $color-primario;
    @include border-radius($radio-imagen);
  }

  textarea {
    resize: vertical;
  }

  button {
    width: 100%;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    @include border-radius($radio-imagen);
    @include button-style($color-primario, $color-acento, $color-texto-blanco);
  }
}
